html {
    overflow-x: hidden;
}

* {
    background-color: whitesmoke;
}

body {
   width: 100%;
   font-family: 'Dongle', sans-serif;
}

/* Header css */
header {
    width: 80%;
    margin-top: 15px;
    margin: 5px auto;
}

/* Addition class */
.scale {
    width: 80%;
    margin: 100px auto 0;
}


nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img{
    width: 400px;
    height: 75px;
    object-fit: contain;
}

.nav {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__link {
    text-decoration: none;
    color: black;
    font-size: 35px;
}

.nav--plus {
    width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input__field {
    width: 180px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border: 1px solid black;
}

.input__field  .input__box {
    width: 100%;
    height: 90%;
    border: none;
    outline: none;
    font-size: 18px;
}

.search__icon {
    cursor: pointer;
}

button {
    cursor: pointer;
    border-radius: 5px;
}

.cart__btn, .contact__btn {
    border: none;
    outline: none;
    padding: 10px 15px;
}

.contact__btn {
    background-color: #034ea0;
    color: white;
    margin-bottom: 10px;
    box-shadow: 0 5px #999;
}

.contact__btn:active {
    margin-bottom: 0px;
    box-shadow: none;
}

/* Main css */
main {
    width: 100%;
    user-select: none;
}

/* --Main banner-- */

.main__top {
    display: flex;
    align-items: center;
}

.main__top .slick-arrow {
    height: 610.56px;
}

.main__top img {
    width: 100%;
}

/* --Main popular products css-- */
.product__popular--header {
    font-size: 90px;
}

.highlight__content {
    color: #034ea0;
    background-color: transparent;
}

.slick__product {
    display: flex;
}

.item {
    width: 250px;
    padding: 15px 0;
    border-radius: 12px;
    border: 1px solid #999;
    margin: 0 5px;
}

.item img {
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

.item__detail {
    width: 250px;
    height: min-content;
    margin: 0 auto;
}

.item__name {
    font-size: 35px;
    font-weight: bold;
}

.star__wrapper {
    display: flex;
    align-items: center;
}

.star__detail {
    font-size: 25px;
}

.item__price {
    font-size: 35px;
}

.slick__product .slick-arrow {
    position: absolute;
    top: -42px;
    padding: 5px 10px;
    border: none;
    background-color: #034ea0;
    color: white;
}

.slick__product .slick-next {
    right: 0px;
}

.slick__product .slick-prev {
    right: 55px;
    z-index: 2;
}

.item__add {
    padding: 10px 15px;
    border: none;
    background-color: #034ea0;
    color: white;
}

/* about us css */
.about__us {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__left {
    width: 40%;
    height: 100%;
    border-radius: 5px;
    border: none;
    overflow: hidden;
}

.about__left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s;
}

.about__left img:hover {
    transform: scale(1.2);
}

.about__right {
    width: 55%;
}

.title {
    width: fit-content;
    font-size: 45px;
    border-bottom: 5px solid #034ea0;
}

.slogon {
    font-size: 90px;
}

.content {
    font-size: 30px;
}

.explore__more__btn {
    padding: 15px 15px;
    background-color: #034ea0;
    border: none;
    color: white;
    margin-top: 10px;
;
}

.product__detail {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail__left {
    width: 55%;
}

.detail__right {
    width: 40%;
    height: 549px;
    border-radius: 5px;
    border: none;
    overflow: hidden;
}

.detail__right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s;
}

.detail__right img:hover {
    transform: scale(1.1);
}

footer {
    width: 100%;
    border-top: 2px solid #034ea0;
    font-size: 20px;
    margin: 50px 0 20px;
}

.footer__inner {
    width: 70%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;  
}

.my__name{
    
    font-size: 30px;
}

.social__link {
    margin-top: 10px;
}

.find__product__title, .get__help__title {
    font-size: 30px;
}





